.footer_content{
    display: flex;
    justify-content: space-between;

}
.footer_content_logo{
    width: 25%;
}
.footer_content_logo img{
    width: 70%;
    height: 100px;
}
.footer_content_logo p{
    font-size: 13px;
    color: rgb(116, 115, 115);
}
.footer_contact{
    margin-top: 40px;
}
.footer_contact h6{
    font-weight: bold;
    margin-bottom: 40px;
}
.footer_contact p{
    font-size: 13px;
    color: rgb(116, 115, 115);
    line-height: 5px;
}
.footer_bottom{
    text-align: center;
    font-size: 13px;
    color: rgb(116, 115, 115);
}