.container-main{
    text-align: center;
    border: 1px solid pink;
    width: 500px;
    margin:40px auto;
    padding: 20px;
    border-radius: 5px;

} 
input::placeholder{
    font-size: 13px;
}

.container-main .btn{
    background-color: brown;
    color: aliceblue;
    margin-top: 30px;
}
.container-main .btn:hover{
    background-color: green;
    color: aliceblue;
}
.link{
    text-decoration: none;
}
.register_error{
    color: red;
    font-style: italic;
    font-size: 12px;
    margin-bottom: -12px;
    margin-top: 4px;

}
.register_error_password{
    color: red;
    font-style: italic;
    font-size: 12px;
    margin-bottom: -12px;
    margin-top: 4px;

}
.forget_pass{
    display: flex;
    justify-content: center;
    font-size: 13px;
    gap: 10px;
    margin-top: 5px;
}